<div class="contaner" style="background-color: rgb(50,50,64)">
  <div class="row">
    <div class="col-xs-12 flex" style="height: 100vh;">
      <div class="flex center justify-center" style="width: 100%">
        <div class="login-form" style="border: 1px solid rgba(255,255,255,.2); width: 50%">
          <h1 class="center white">Register</h1>
          <% if flash[:reg_errors] %>
          <p class="white">
            Errors
          </p>
          <ul class="red" style="font-size: 11px">
            <%= flash[:reg_errors].html_safe %>
          </ul>
          <% end %>
          <%= form_for @user, url: { action: :create }, html: { class: "form-horizontal" } do |f| %>
          <div class="form-group">
            <%= f.label :firstname, nil, class: "control-label col-xs-2 white" %>
            <div class="col-xs-10">
              <%= f.text_field :firstname, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :lastname, nil, class: "control-label col-xs-2 white" %>
            <div class="col-xs-10">
              <%= f.text_field :lastname, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, nil, class: "control-label col-xs-2 white" %>
            <div class="col-xs-10">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, nil, class: "control-label col-xs-2 white" %>
            <div class="col-xs-10">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, nil, class: "control-label col-xs-2 white" %>
            <div class="col-xs-10">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-10 col-xs-offset-2">
              <button type="submit" class="btn uppercase form-btn white">Register</button>
            </div>
          </div>
          <% end %>
          <div class="uppercase col-xs-6" style="margin-top: 20px; font-size: 11px">
            <a href="/" class="col-xs-4">Home</a>
            <a href="/user/session/new" class="col-xs-6">Login here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
