<!DOCTYPE html>
<html>
  <head>
    <title>Viva</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if flash[:success] %>
        <%= flash[:success] %>
      <% end %>
      <% if flash[:errors] %>
        <%= flash[:errors] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
